@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.contenedor {
    /*background: rgb(255,60,0);
    background: radial-gradient(circle, #ff3c00 0%, #ff3c00 79%, #1c1c1c 79%, #1c1c1c 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    text-align: end;*/
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: font-size 0.3s ease;
    
    background: linear-gradient(217deg, rgb(20 20 20 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(40 40 40 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(60 60 60 / 80%), transparent 70.71%);
}
#video-fondo{    
    width: 25%;
    min-height: 20vh;   
    object-fit: cover;
    transition: width 0.8s ease;
}
.content{
  position: absolute; /* Posiciona el texto de forma absoluta dentro del contenedor */
  top: 90%; /* Mueve el texto al centro verticalmente */
  left: 50%; /* Mueve el texto al centro horizontalmente */
  transform: translate(-50%, -50%); /* Centra el texto con precisión */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto dentro del área de superposición */
  z-index: 10; /* Asegura que el texto esté por encima del video */
  background-color: rgba(0, 0, 0, 0.9); /* Opcional: para que el texto sea más legible */
  padding: 20px; /* Espacio alrededor del texto */
  border-radius: 5px; /* Esquinas redondeadas */
    
}

.fecha{
    color: #FED660;
}

.fecha span {
    font-weight: 600;
    color: #FED660;
}

.cuenta-atras {
    color: #FED660;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: font-size 0.3s ease;
}

.grupo {
    line-height: 1;
}

.grande {
    font-family: "Bricolage Grotesque", sans-serif;
    color: #FED660;
    font-size: 3rem;
    font-weight: 800;
    transition: font-size 0.3s ease;
}


/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .grande {
    font-size: 0.9rem; /* Un poco más pequeño en pantallas pequeñas */
  }
  .cuenta-atras{
    font-size: 0.6rem;
  }
  #video-fondo{
    width: 35%;
  }
}

/* Para pantallas medianas */
@media (min-width: 769px) and (max-width: 1200px) {
  .grande {
    font-size: 1.5rem;
  }
  .cuenta-atras{
    font-size: 1rem;
  }
  #video-fondo{
    width: 30%;
  }
  
}

/* Para pantallas grandes */
@media (min-width: 1201px) {
  .grande {
    font-size: 3rem;
  }
  .cuenta-atras{
    font-size: 1rem;
  }
  #video-fondo{
    width: 25%;
  }
}


